
@{
    ViewBag.Title = "South";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Webcontent.Service.FoodService>

<div class="row">
    @{


        foreach (var item in Model)
        {
            string targetModal = "#myModal" + item.id;
            string targetModall = "myModal" + item.id;
            <div class="col-sm-3 mycursor"><img src="@item.imgsrc" data-toggle="modal" data-target="@targetModal" class="img-circle" alt="@item.name" width="250" height="236"></div>
            <div id="@targetModall" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">@item.name</h4>
                        </div>
                        <div class="modal-body">
                            <img src="@item.imgsrc" width="500" height="472" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        }
    }

</div>



